.parkingSpot {
  width: 55px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 2px solid #cccccc;
  cursor: pointer;
  border-radius: 12px;
}
.wrapper {
  width: 55px;
  height: 100px;
  display: grid;
  justify-content: center;
  border-radius: 12px;
}
.disabled {
  background: url(../assets/images/carblue.png) no-repeat 50% / contain;
  text-indent: -9999px;
  cursor: auto;
}
.selected {
  /* 선택했을때 */
  background-color: lightblue;
  color: #fff;
}
